apiVersion: apps/v1
kind: Deployment
metadata:
  name: nexus-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nexus
  template:
    metadata:
      labels:
        app: nexus
    spec:
      containers:
      - name: site
        image: ofafakk/projeto-nexus:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80